.ant-modal,
.ant-modal-content {
  padding: 0px 0px 5px 0px !important;
}

.ql-editor {
  height: 150px !important;
}

.ant-modal .ant-modal-close {
  top: 6px !important;
}

.custom-input:hover,
.custom-input:focus {
  /* border-color: initial !important; */
  box-shadow: none !important;
}

.custom-select .ant-select-selector:hover,
.custom-select .ant-select-selector:focus {
  /* border-color: initial !important; */
  box-shadow: none !important;
}

.custom-button {
  border: none !important;
}

.custom-button:hover {
  /* opacity: 0.9; */
  border: none !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.06);
}
